.tabs-contaniner {
  display: flex;
  justify-content: center;
}

.assign-card {
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}



.assign-card li {
  list-style-type: none;
  text-align: start;
  width: 200px;
  padding: 4px 0px;
}

.assign-card button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  outline: none;
  padding: 0px 25px;
  border-radius: 15px;
}

.reviewer-popup {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  border: 1px solid;
  padding: 10px;
}

.tabs-global {
  position: relative;
  height: calc(100vh - 104px);
}

.assign-card-con.popup {
  width: 500px;
  margin-top: 70px;
}

.view-btn {
  background-color: var(--blue) !important;
  color: white !important;
  border: none;
  outline: none;
  border-radius: 5px !important;
  padding: 5px 10px;
}
.view-btn-pending {
  background-color: yellow !important;
  color: #000 !important;
  border: none;
  outline: none;
  border-radius: 5px !important;
  padding: 5px 10px;
  white-space: nowrap;
}

.approve-btn {
  background-color: var(--green);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 5px !important;
  margin: 0px 2px;
}

.reject-btn {
  background-color: red !important;
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 5px !important;
  margin: 0px 2px;
}

.log-nav-card {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--gray);
}

.nav-link-logout {
  color: var(--green) !important;
}
.table-con {
  display: flex;
  justify-content: center;
}
